* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorBackBody: rgba(0, 0, 0, 0.6);
  --colorBackContainer: rgba(0, 0, 0, 0.6);
  --colorBackLi: #1d87bd;
  --colorLetraLi: #ffffff;
  --colorLetraA: #ffffff;
  --colorBackContainerMobi: #000000;
}

body {
  color:aliceblue;

  background: var(--colorBackBody);
}

main, header {
  padding-top: 50px;
}

.logo img {
  width: 200px;
  position: relative;
}

.logo img:hover {
  transform: scale(1.1);
  transition: 1s;
}

#player {
  position: fixed;
  min-width: 100%;
}

#mobile {
  display: none;
}

.container {
  position: relative;

  background: var(--colorBackContainer);
  height: 100%;

}

main {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;

  padding-left: 40px;
  
}

li {
  background-color: var(--colorBackLi);
  border-radius: 5px;
  padding: 3px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  list-style: none;
  text-decoration: none;
  color: var(--colorLetraLi);

  cursor: pointer;
}

a {
  list-style: none;
  text-decoration: none;
  color: var(--colorLetraA);

  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

h3 {
  padding-bottom: 15px;

  font-size: 20px;
  text-align: center;
}

@media (max-width: 600px) {

  #player {
    display: none;
  }

  #mobile {
    display: flex;
    position: fixed;
    width: 100%;
    background-position: center;
  }
  header {
    position: fixed;
   }

   .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    padding-top: 280px;
    background-color: var(--colorBackContainerMobi);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #4c2b71 #070d12;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #070d12;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #815078;
    border-radius: 20px;
    border: 3px solid #070d12;
  }
}